* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #595C5F;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navigate-container {
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #171A1C;
    border-bottom: 1px solid #22262A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 1rem 0 1rem;
}

.footer-container {
    width: 100%;
    height: 50px;
    background-color: #171A1C;
    border-bottom: 1px solid #22262A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 1rem 0 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navigate-desktop ul {
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navigate-desktop img {
    height: 5vh;
    width: auto;
}

.navigate-desktop ul li a {
    color: white;
    font-size: 0.8rem;
}

.navigate-mobile {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7vh;
    background: #171A1C;
    border-top: 1px solid #171A1C;
    padding: 1rem;
}

.navigate-mobile ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigate-mobile img {
    width: auto;
    height: 1.5rem;
}

.vertical-align {
    display: flex;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
}

.form-cadastro {
    padding: 1rem 2rem;
    width: 80%;
    height: auto;
    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

form h1 {
    margin: 1rem 0 1rem 0;
    color: white;
    font-size: 1.7rem;
    font-weight: 80;
}

.section-margin {
    margin: 0 2rem 0 2rem;
    gap: 1rem;
}

.section-dados {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
}

.section-endereco {
    display: grid;
    /* Add this line to enable grid layout */
    grid-template-areas:
        "a b b c"
        "d d e e"
        "f f f f";
    grid-template-columns: 0.4fr 0.6fr 0.3fr 0.6fr;
    grid-template-rows: auto;
}

#enderecoCEP {
    grid-area: a;
}

#enderecoRua {
    grid-area: b;
}

#enderecoNumero {
    grid-area: c;
}

#enderecoCidade {
    grid-area: d;
}

#enderecoEstado {
    grid-area: e;
}

#enderecoComplemento {
    grid-area: f;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

fieldset label,
select,
option,
input {
    font-size: 0.8rem;
    color: white;
}

#desligado-select {
    color: rgba(255, 255, 255, 0.5);
}

fieldset input,
select {
    padding: 0.8rem;
    background: #22262A;
    border-radius: 5px;
    border: none;
}

form footer {
    padding: 0 2rem 0 2rem;
}

.botao-form {
    width: 100%;
    margin: 1rem 0 0 0;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: #ED185C;
    color: white;
    cursor: pointer;
    transition: ease 0.1s;
}

.botao-form:hover {
    background-color: white;
    color: #ED185C;
    border: 3px solid #ED185C;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.resultado {
    padding: 1rem 2rem;
    width: 100%;
    height: 100vh;
    background: #4B4B4B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.json-container {
    width: 80%;
    justify-content: baseline;
}

.resultado h1 {
    margin: 1rem 0 1rem 0;
    color: white;
    font-size: 1.7rem;
    font-weight: 80;
}

.resultado footer {
    width: 100%;
}

.resultado button {
    width: 100%;
    margin: 1rem 0 0 0;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #ED185C;
    border: 3px solid #ED185C;
    cursor: pointer;
    transition: ease 0.1s;
}

.resultado button:hover {
    background-color: #ED185C;
    color: white;
    border: 3px solid white;
}

.hidden {
    display: none;
}

@media (max-width: 991px) {

    .footer-container {
        margin-bottom: 7vh;
    }

    main {
        height: 100%;
    }

    main form {
        padding: 1rem 1rem;
        width: 100%;
        height: 95%;
    }

    .section-dados {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .section-endereco {
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        display: none;
    }

    .navigate-mobile {
        display: block;
    }

    .footer-container {
        font-size: 1rem;
    }
}